* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $darkest-blue;
    img {
        display: block;
    }
    button {
        cursor: pointer;
    }
    input {
        font-size: 1rem;
        outline: none;
        color: $white;
    }
    input:focus::placeholder {
        opacity: 0;
    }
}