.recommended_card_container {
    &__card {
    background-color: $navy-blue;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(10.25rem, 40vw, 13.75rem);
    height: clamp(6.875rem, 20vw, 8.75rem);
    .background_image {
        width: 100%;
    }
    .bookmark_button{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 1rem;
        top: 1rem;
        background-color: rgba(0, 0, 0, 0.3);
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    }
    .info_wrapper {
        margin-top: 0.5rem;
        .information {
            list-style-type: none;
            display: flex;
            li {
                margin-right: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    margin-right: 0.3rem;
                }
            }
        }
        h4 {
            margin: 0.1rem 0 1rem;
        }
    }
}

@media screen and (min-width: 980px) {
    .recommended_card_container {
        &__card {
            width: clamp(13.75rem, 30vw, 17.75rem);
            height: clamp(8.75rem, 10vw, 10.875rem);
        }
    }
}