@import '../../common_components/Main_Header/MainHeader';
@import '../../common_components/Main_SearchBar/SearchBar';
@import '../Main/components/Home/Home';
@import '../Main/components/Movies/Movies';
@import '../Main/components/TvSeries/TvSeries';
@import '../Main/components/BookMarked/BookMarked';

.main_page {
    margin-bottom: 3rem;
}

@media screen and (min-width: 1440px) {
    .main_page {
        max-width: 1440px;
        margin: 0 auto;
    }
}