@import '../../../../common_components/DataCard/DataCard';

.main_page__bookmarked {
    padding: 0 1rem;
    .bookmarked_container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        margin-right: 1rem;
    }
    h2 {
        margin: 2rem 0;
    }
}

@media screen and (min-width: 720px) {
    .main_page__bookmarked  {
        .bookmarked_container {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;
        }
    }
}
@media screen and (min-width: 1440px) {
    .main_page__bookmarked {
        .bookmarked_container {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;
        }
        
    }
}