body {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: white;
}

h1, h2, .text-small {
  font-weight: 300;
}

h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: clamp(0.9375rem, 4vw, 1.5rem);
}

h4 {
  font-size: 18px;
}

.text-small {
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #10141e;
}

body img {
  display: block;
}

body button {
  cursor: pointer;
}

body input {
  font-size: 1rem;
  outline: none;
  color: white;
}

body input:focus::-webkit-input-placeholder {
  opacity: 0;
}

body input:focus:-ms-input-placeholder {
  opacity: 0;
}

body input:focus::-ms-input-placeholder {
  opacity: 0;
}

body input:focus::placeholder {
  opacity: 0;
}

.login_signup_component header {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_signup_component__card {
  width: 90%;
  max-width: 35rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  background-color: #161d2f;
  border-radius: 1rem;
}

.login_signup_component__card h1 {
  padding: 2rem 0;
}

.login_signup_component__card input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #5a698f;
  background: transparent;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  color: white;
}

.login_signup_component__card input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.login_signup_component__card input:focus:-ms-input-placeholder {
  opacity: 0;
}

.login_signup_component__card input:focus::-ms-input-placeholder {
  opacity: 0;
}

.login_signup_component__card input:focus::placeholder {
  opacity: 0;
}

.login_signup_component__card button {
  background-color: #fc4747;
  border: none;
  color: white;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.login_signup_component__card p {
  text-align: center;
  padding-bottom: 2rem;
}

.login_signup_component__card .card_span {
  color: #fc4747;
  cursor: pointer;
}

.main_page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  height: 5rem;
  background-color: #161d2f;
}

.main_page__header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  max-width: 12rem;
}

.main_page__header nav li:hover {
  cursor: pointer;
}

.main_page__header nav .active {
  -webkit-filter: invert(100%) sepia(100%) saturate(10%) hue-rotate(360deg) brightness(150%) contrast(100%);
          filter: invert(100%) sepia(100%) saturate(10%) hue-rotate(360deg) brightness(150%) contrast(100%);
}

.main_page__header .user_avatar {
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
}

.main_page__search_bar {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  padding: 0 1rem;
}

.main_page__search_bar input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
}

.main_page__search_bar img {
  width: 30px;
  margin-right: 1rem;
}

.trending_card {
  background-color: #161d2f;
  height: 140px;
  min-width: 240px;
  border-radius: 0.5rem;
  position: relative;
  margin: 1rem 1rem 2rem 0;
}

.trending_card .bookmark_button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trending_card .info_wrapper {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.trending_card .info_wrapper .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 0.5rem;
}

.trending_card .info_wrapper .information li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.7rem;
}

.trending_card .info_wrapper .information li img {
  width: 15px;
  height: 15px;
  margin: 0 0.3rem 0 0;
}

.main_page__home__trending {
  padding: 0 1rem 0;
  overflow: hidden;
}

.main_page__home__trending .carousel_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}
/*# sourceMappingURL=index.css.map */