body {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: white;
}

h1, h2, .text-small {
  font-weight: 300;
}

h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: clamp(0.9375rem, 4vw, 1.5rem);
}

h4 {
  font-size: 18px;
}

.text-small {
  font-size: clamp(0.6875rem, 2vw, 0.8125rem);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #10141e;
}

body img {
  display: block;
}

body button {
  cursor: pointer;
}

body input {
  font-size: 1rem;
  outline: none;
  color: white;
}

body input:focus::-webkit-input-placeholder {
  opacity: 0;
}

body input:focus:-ms-input-placeholder {
  opacity: 0;
}

body input:focus::-ms-input-placeholder {
  opacity: 0;
}

body input:focus::placeholder {
  opacity: 0;
}

.login_signup_component header {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_signup_component__card {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  background-color: #161d2f;
  border-radius: 1rem;
}

.login_signup_component__card h1 {
  padding: 2rem 0;
}

.login_signup_component__card input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #5a698f;
  background: transparent;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  color: white;
}

.login_signup_component__card input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.login_signup_component__card input:focus:-ms-input-placeholder {
  opacity: 0;
}

.login_signup_component__card input:focus::-ms-input-placeholder {
  opacity: 0;
}

.login_signup_component__card input:focus::placeholder {
  opacity: 0;
}

.login_signup_component__card button {
  background-color: #fc4747;
  border: none;
  color: white;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.login_signup_component__card p {
  text-align: center;
  padding-bottom: 2rem;
}

.login_signup_component__card .card_span {
  color: #fc4747;
  cursor: pointer;
}

@media screen and (min-width: 580px) {
  .login_signup_component header {
    height: 12rem;
  }
}

.main_page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  height: 5rem;
  background-color: #161d2f;
}

.main_page__header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  max-width: 12rem;
}

.main_page__header nav li:hover {
  cursor: pointer;
}

.main_page__header nav .active {
  -webkit-filter: invert(100%) sepia(100%) saturate(10%) hue-rotate(360deg) brightness(150%) contrast(100%);
          filter: invert(100%) sepia(100%) saturate(10%) hue-rotate(360deg) brightness(150%) contrast(100%);
}

.main_page__header .user_avatar {
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
}

.search_bar__card_container .info_wrapper .information {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_bar__card_container .info_wrapper .information li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
}

.search_bar__card_container .info_wrapper .information li img {
  margin-right: 0.2rem;
}

.search_bar__card_container .info_wrapper h4 {
  margin-top: 0.2rem;
}

.search_bar__card_container .card {
  width: 100%;
  height: 110px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #161d2f;
}

.search_bar__card_container .card .background_image {
  width: 100%;
}

.search_bar__card_container .card .bookmark {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_result {
  padding: 0 1rem;
}

.search_result h2 {
  margin: 1rem 0 2rem;
}

.search_result .search_card_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  margin-right: 1rem;
}

.main_page__search_bar {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  padding: 0 1rem;
}

.main_page__search_bar input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
}

.main_page__search_bar img {
  width: 30px;
  margin-right: 1rem;
}

.trending_card {
  background-color: #161d2f;
  height: 140px;
  min-width: 240px;
  border-radius: 0.5rem;
  position: relative;
  margin: 1rem 1rem 2rem 0;
  overflow: hidden;
}

.trending_card .background_image {
  width: 100%;
}

.trending_card .bookmark_button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trending_card .info_wrapper {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.trending_card .info_wrapper .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 0.5rem;
}

.trending_card .info_wrapper .information li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.7rem;
}

.trending_card .info_wrapper .information li img {
  width: 15px;
  height: 15px;
  margin: 0 0.3rem 0 0;
}

.main_page__home__trending {
  padding: 0 0 0 1rem;
  overflow: hidden;
}

.main_page__home__trending .carousel_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

.recommended_card_container__card {
  background-color: #161d2f;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 20rem;
  height: 110px;
}

.recommended_card_container__card .background_image {
  width: 100%;
}

.recommended_card_container__card .bookmark_button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 1rem;
  top: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.recommended_card_container .info_wrapper {
  margin-top: 0.5rem;
}

.recommended_card_container .info_wrapper .information {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommended_card_container .info_wrapper .information li {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommended_card_container .info_wrapper .information li img {
  margin-right: 0.3rem;
}

.recommended_card_container .info_wrapper h4 {
  margin: 0.1rem 0 1rem;
}

.main_page__home__recommended {
  padding: 0 1rem;
  margin-right: 1rem;
}

.main_page__home__recommended h2 {
  margin: 2rem 0;
}

.main_page__home__recommended .recommended_card_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.data_card .card {
  background-color: #161d2f;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 164px;
  height: 110px;
}

.data_card .card .background_image {
  width: 100%;
}

.data_card .card .bookmark {
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data_card .info_wrapper {
  margin-top: 0.5rem;
}

.data_card .info_wrapper .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.data_card .info_wrapper .information li {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data_card .info_wrapper .information li img {
  margin-right: 0.5rem;
}

.data_card .info_wrapper h4 {
  margin: 0.3rem 0 0.5rem 0;
}

.main_page__movies {
  padding: 0 1rem;
}

.main_page__movies h2 {
  margin: 2rem 0;
}

.main_page__movies .movies_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-right: 1rem;
}

.data_card .card {
  background-color: #161d2f;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 164px;
  height: 110px;
}

.data_card .card .background_image {
  width: 100%;
}

.data_card .card .bookmark {
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data_card .info_wrapper {
  margin-top: 0.5rem;
}

.data_card .info_wrapper .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.data_card .info_wrapper .information li {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data_card .info_wrapper .information li img {
  margin-right: 0.5rem;
}

.data_card .info_wrapper h4 {
  margin: 0.3rem 0 0.5rem 0;
}

.main_page__tv_series {
  padding: 0 1rem;
}

.main_page__tv_series h2 {
  margin: 2rem 0;
}

.main_page__tv_series .tv_series_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-right: 1rem;
}

.data_card .card {
  background-color: #161d2f;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 164px;
  height: 110px;
}

.data_card .card .background_image {
  width: 100%;
}

.data_card .card .bookmark {
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data_card .info_wrapper {
  margin-top: 0.5rem;
}

.data_card .info_wrapper .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.data_card .info_wrapper .information li {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data_card .info_wrapper .information li img {
  margin-right: 0.5rem;
}

.data_card .info_wrapper h4 {
  margin: 0.3rem 0 0.5rem 0;
}

.main_page__bookmarked {
  padding: 0 1rem;
}

.main_page__bookmarked .bookmarked_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-right: 1rem;
}

.main_page__bookmarked h2 {
  margin: 2rem 0;
}

.main_page {
  margin-bottom: 3rem;
}

@media screen and (min-width: 580px) {
  .main_page__home, .main_page__movies, .main_page__tv_series, .main_page__bookmarked {
    max-width: 40rem;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=index.css.map */