.data_card {
    .card {
            background-color: $navy-blue;
            overflow: hidden;
            border-radius: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 164px;
            height: 110px;
            .background_image {
                width: 100%;
            }
        .bookmark {
            background-color: rgba(0, 0, 0, 0.3);
            height: 30px;
            width: 30px;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            border-radius: 50%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .info_wrapper {
        margin-top: 0.5rem;
        .information {
            display: flex;
            list-style-type: none;
            li {
                margin-right: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    margin-right: 0.5rem;
                }
            }
        }
        h4 {
            margin: 0.3rem 0 0.5rem 0;
        }
    }
}